
.cart-item {
    display:flex;
    margin-top: 10px;
    margin-bottom: 10px;;
}

.cart-item p button {
    display: inline-block;
    margin-left: 10px;
    margin-right: 20px;
}

.cart-item-name {
    width: 80px;
}

.cart-item-price {
    margin-right:20px;
}

.quantity {
    margin-left: 5px;
    margin-left: 5px;
}

.minus-button  {
    padding-top:0;
    height:20px;
    margin-right: 8px;
}

 .plus-button {
    padding-top:0;
    height:20px;
    margin-left:8px;
}